* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.frame {
  background-color: hsl(233, 47%, 7%);
  margin: 100px 50px;
  height: 700px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: hsl(244, 38%, 16%);
  height: 60%;
  width: 70%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.cardtext {
  flex-basis: 50%;
  padding: 5em 8em;
  box-sizing: border-box;
}
.cardimg {
  background-image: url(./images/image-header-desktop.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px hsl(277, 64%, 61%, 0.6);
  flex-basis: 50%;
}
.cardtext h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
}
.cardtext span {
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(277, 64%, 61%);
}
.cardtext p {
  color: hsla(0, 0%, 100%, 0.75);
}
.stats {
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.stats span {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}

@media (max-width: 480px) {
  .card {
    margin: 30px;
    height: 90%;
    flex-direction: column;
  }
  .frame {
    margin: 0;
    height: 800px;
    align-items: flex-start;
  }
  .cardtext,
  .stats {
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 10px;
  }

  .cardtext h1,
  .cardtext span {
    font-size: 1.8rem;
  }
  .col {
    margin-top: 30px;
  }
  .stats span {
    font-size: 1.5rem;
  }
  .cardimg {
    background-image: url(./images/image-header-mobile.jpg);
    height: 100%;
    order: -1;
    width: 100%;
    flex-basis: 30%;
  }
}
